{% load user_avatar_tags %}
{% load access_tags %}

{# Reusable member card. Expects: user, show_actions (bool), church #}
<li class="user-card-wrapper">
  <div class="card border-0 user-card {{ user.color_class }}">
    <div class="card-body px-1 my-0 py-0 d-flex justify-content-center">
      <div class="me-1 mt-2">
        <a href="tel:{{ user.phone_number }}" title="{{ user.title|default:'' }} {{ user.full_name }}">
          {% if user.image %}
            <span class="avatar rounded"
                  style="background-image: url('{{ user.image.url }}'); width:30px; height:30px; 
                          background-size:cover; background-position:center;
                          {% if user.is_online %}box-shadow: 0 4px 8px #0cfc03e3;{% else %}box-shadow: 0 4px 8px #000000d2;{% endif %}">
            </span>
          {% else %}
            <span class="avatar bg-gray text-white d-flex align-items-center justify-content-center rounded"
                  style="width:30px; height:30px; font-weight:bold; font-size:12px;
                          {% if user.is_online %}box-shadow: 0 4px 8px #0cfc03e3;{% else %}box-shadow: 0 4px 8px #000000d2;{% endif %}">
              {{ user.initials }}
            </span>
          {% endif %}
        </a>
      </div>

      <div class="flex-grow-1 py-1 text-start justify-content-center">
        <div class="fw-bold text-truncate user-name" style="color: var(--tblr-{{ user.color }}); font-size: 0.75rem">
          {{ user.title|default:"" }} {{ user.full_name }}

        </div>
        <div class="mt-1 fst-italic" style="font-size: 0.6rem">
          {% if units %}
            <div class="user-unit">
              <div class="unit-container position-relative overflow-hidden d-inline-block px-1 py-0 rounded-pill bg-gray-lt"
                  data-user="{{ user.id }}">

                {% for unit in units %}
                  <div class="unit-item {{ unit.color_class|default:'bg-gray' }} text-white px-1 mb-0 
                              {% if not forloop.first %}d-none{% endif %}">
                    <span class="badge fst-italic">{{ unit.name }}</span>
                  </div>
                {% endfor %}

              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</li>

<script>
document.querySelectorAll('.unit-container').forEach(container => {
  const items = container.querySelectorAll('.unit-item');
  if (items.length <= 1) return;

  let index = 0;

  setInterval(() => {
    items[index].classList.add('d-none');
    index = (index + 1) % items.length;
    items[index].classList.remove('d-none');
  }, 2000); // change every 2s
});
</script>